# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Kotlin
.kotlin/

# Default ignored files
/shelf/
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml
